.projects {
  padding: 5rem 0;
}

.projects > h2 {
  font-family: "Mont-Light", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  max-width: 60%;
  margin: 0;
  text-align: left;
  line-height: 1.25;
}

.project-image {
  padding-top: 5rem;
  width: 100%;
  height: auto;
}
